<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
          <h2>Log in</h2>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field" style = 'margin-bottom: 15px;'>
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field" style = 'margin-bottom: 15px;'>
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "current-password" %>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="field" style = 'margin-bottom: 15px;'>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end %>

            <div class="actions" style = 'margin-bottom: 15px; display: flex'>
              <%= f.submit "Log in" %>&nbsp;
              <%= render "devise/shared/links" %>
            </div>

            <div class="actions" style = 'margin: 0 15px 0 35px; display: flex'>
              <%= link_to "Staff log-in", new_staff_member_session_path %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>