<div>
    <h5> Card Details: </h5><br/>
    <div class="row" style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= f.label(:card_number, 'Card Number: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= f.text_field(:card_number, required: true,minlength: 16, maxlength: 20)%>
        </div>
    </div>
    <div class="row"  style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= f.label(:name_on_card, 'Name on Card: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= f.text_field(:name_on_card, required: true, maxlength: 26)%>
        </div>
    </div>
    <div class="row"  style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= f.label(:expiry_date, 'Expiry: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= f.text_field(:expiry_date, placeholder: 'mm/yyyy', required: true, maxlength: 7)%>
        </div>
    </div>
    <br/><hr/><br/><h5> Billing Address: </h5><br/>
    <%= f.fields_for :address do |address_form| %>
    <%= render 'shared/address_form', address_form: address_form %>
    <% end %>
    <div class="row" style='margin: 10px 0;'>
        <div class = 'col-lg-12' style = 'text-align: center'>
            <%= f.submit('Submit')%>
            <%= button_to('Cancel', previous_page_path)%>
        </div>
    </div>

</div>