<div class="container">
    <%= form_with model: @credit_card, url: credit_card_path(@credit_card.id), method: :put, local:true do|f|%>
        <%= render 'form', f: f, previous_page_path: credit_card_path %>
    <% end %>
</div>