<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Credit Cards</th>
                <th scope="col">Billing Addresses</th>
                <th>Actions</th>

            </tr>
        </thead>
        <tbody>
        <% @credit_cards.each do |credit_card|%>
            <tr>
                <td scope="row">
                    <%= credit_card.name_on_card%><br/>
                    <%= CreditCardsHelper.mask_credit_card(credit_card.card_number) %> <br/>
                    <%= credit_card.expiry_date%><br/>
                </td>
                <td>
                    <%= credit_card.address.name%><br/>
                    <%= credit_card.address.address_line1%><br/>
                    <% if credit_card.address.address_line2.present? %>
                        <%= credit_card.address.address_line2%><br/>
                    <% end %>
                    <%= credit_card.address.city%><br/>
                    <%= credit_card.address.zipcode%><br/>
                    <%= credit_card.address.state%><br/>
                    Phone: <%= credit_card.address.phone_number%><br/>
                </td>
                <td>
                    <%= link_to('Edit',  edit_credit_card_path(credit_card.id), method: 'get')%> &nbsp;
                    <%= link_to('Delete', credit_card_path(credit_card.id), method: 'delete')%>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>