<div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:quantity)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.text_field(:quantity, required: true)%>
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:warehouse_id)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.select(:warehouse_id, options_for_select(warehouse_locations)) %>
        </div>
    </div>
        <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-12' style = 'text-align: center'>
            <%= f.submit('Submit', class: 'btn btn-primary')%>
            <%= link_to('Cancel', staff_members_product_stocks_path(product.id), class: 'btn btn-secondary')%>
        </div>
    </div>
</div>