<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h5>Edit Stock</h5><br />
            <%= form_with(model: @stock, url: staff_members_product_stock_path(@product.id, @stock.id), method: :put, local: true) do|f| %>
                <%= render 'form', f: f, warehouse_locations: @warehouse_locations, product: @product %>
            <% end %>
        </div>
    </div>
</div>