<div class="container">
    <div class = 'row'>
        <div class = 'col-lg-12 prices-form' style='text-align: right;'>
            <%= button_to('View Product', staff_members_product_path(@product.id), method: 'get', class: "btn btn-primary", style: 'display: inline;')%>&nbsp;
            <%= button_to('Add Stock', new_staff_members_product_stock_path(@product.id), method: 'get', class: "btn btn-primary", style: 'display: inline;')%>
            <br /><br/>
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-lg-12'>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Warehouse Location</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                <% @stocks.each do |stock|%>
                    <tr>
                        <td scope="row">
                            <%= stock.id%>
                        </td>
                        <td>
                            <%= stock.quantity %>
                        </td>
                        <td>
                            <%= stock.warehouse.address.name%>
                        </td>
                        <td>
                            <%= link_to('Edit',  edit_staff_members_product_stock_path(@product.id, stock.id), method: 'get')%> &nbsp;
                            <%= link_to('Delete', staff_members_product_stock_path(@product.id, stock.id), method: 'delete')%>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>