<script> 
  var category_additional_attr = <%= raw(category_additional_attr.to_json) %>;

  function updateAdditionInfo(selectCategory){
    var textArea = document.getElementById('product_additional_info');
    textArea.value = JSON.stringify(eval('category_additional_attr[' + selectCategory.value + ']'));
  }
</script>
<div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:product_name)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.text_field(:product_name, required: true, minlength: 3, size: 25)%>
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:category)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.select(:category_id, options_for_select(catergory_options), {}, onchange: "return updateAdditionInfo(this)")%>
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:size)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.text_field(:product_size, required: true)%> cubic feet
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:weight)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.text_field(:product_weight, required: true)%>  gm
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:product_image)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.file_field(:product_image, required: true)%>
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:product_description)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.text_area(:product_description, required: true, cols: 50, rows: 5)%>
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:additional_info)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.text_area(:additional_info, required: true, cols: 50, rows: 5)%>
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-12' style = 'text-align: center'>
            <%= f.submit('Submit', class: 'btn btn-primary')%>
            <%= link_to('Cancel', staff_members_products_path, class: 'btn btn-secondary')%>
        </div>
    </div>
</div>