<div class="container">
    <div class = 'row'>
        <div class = 'col-lg-12' style='text-align: right;'>
            <%= button_to('Add Product', new_staff_members_product_path, method: 'get', class: "btn btn-primary")%>
            <br />
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-lg-12'>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Category</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                <% @products.each do |product|%>
                    <tr>
                        <td scope="row">
                            <%= product.id%>
                        </td>
                        <td>
                            <%= product.product_name %>
                        </td>
                        <td>
                            <%= product.category.category_name%>
                        </td>
                        <td>
                            <%= link_to('View',  staff_members_product_path(product.id), method: 'get')%> &nbsp;
                            <%= link_to('Edit',  edit_staff_members_product_path(product.id), method: 'get')%> &nbsp;
                            <%= link_to('Delete', staff_members_product_path(product.id), method: 'delete')%>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>