<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <%= form_with(model: @product, url: staff_members_products_path, method: :post, local: true) do|f| %>
                <%= render 'form', f: f, catergory_options: @catergory_options, category_additional_attr: @category_additional_attr%>
            <% end %>
        </div>
    </div>
</div>