<div class="container">
    <div class = 'row'>
        <div class = 'col-lg-12 prices-form' style='text-align: right;'>
            <%= button_to('View Stocks', staff_members_product_stocks_path(@product.id), method: 'get', class: "btn btn-primary", style: 'display: inline;')%>
            <%= button_to('View Prices', staff_members_product_prices_path(@product.id), method: 'get', class: "btn btn-primary", style: 'display: inline;')%>
            <%= button_to('Edit', edit_staff_members_product_path(@product.id), method: 'get', class: "btn btn-primary", style: 'display: inline;')%>
            <br />
        </div>
    </div>
    <div class = 'row'>
        <div class = 'col-lg-4'>
            <div class="card h-100">
                <img class="card-img-top" src=<%= @product.product_image.url%> alt="">
            </div>
        </div>
        <div class = 'col-lg-8'>
            <b>Product Name:</b> <%= @product.product_name %><br />
            <b>Category:</b> <%= @product.category.category_name %><br />
            <b>Size:</b> <%= @product.product_size %> cubic feet<br />
            <b>Weight:</b> <%= @product.product_weight %><br />
        </div>
    </div>
    <hr />
    <div class = 'row'>
        <div class = 'col-lg-12'>
            <b>Description:</b><br />
            <%= @product.product_description %>
        </div>
    </div>
    <hr />
    <div class = 'row'>
        <div class = 'col-lg-12'>
            <b>Additional Information:</b><br />
            <ul>
                <% JSON.parse(@product.additional_info).each do|attr_name, value| %>
                    <li><b><%= attr_name%></b> : <%= value %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>