<div>
    <div class="row"  style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= address_form.label(:first_name, 'First Name: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= address_form.text_field(:first_name, required: true, maxlength: 50)%>
        </div>
    </div>
    <div class="row"  style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= address_form.label(:last_name, 'Last Name: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= address_form.text_field(:last_name, required: true, maxlength: 50)%>
        </div>
    </div>
    <div class="row" style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= address_form.label(:address_line1, 'Address Line 1: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= address_form.text_field(:address_line1, required: true)%>
        </div>
    </div>
    <div class="row" style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= address_form.label(:address_line2, 'Address Line 2: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= address_form.text_field(:address_line2)%>
        </div>
    </div>
    <div class="row" style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= label_tag(:zipcode, 'Zipcode: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= address_form.text_field(:zipcode, required: true)%>
        </div>
    </div>
    <div class="row" style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= address_form.label(:city, 'City: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= address_form.text_field(:city, required: true, maxlength: 50)%>
        </div>
    </div>
    <div class="row" style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= address_form.label(:state, 'State: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= address_form.select 'state', options_for_select(AppConstants::STATES), required: true%>
        </div>
    </div>
    <div class="row" style='margin: 10px 0;'>
        <div class = 'col-lg-2'>
            <%= address_form.label(:phone_number, 'Phone Number: ')%>
        </div>
        <div class = 'col-lg-3'>
            <%= address_form.text_field(:phone_number, required: true, maxlength: 14)%>
        </div>
    </div>
</div>