<% resource.build_address %>
<div class = 'container'>
  <div class = 'row'>
    <div class = 'col-lg-4'></div>
    <div class = 'col-lg-8'>
      <h2>Staff Member Signup</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "staff_members/custom_devise/shared/error_messages", resource: resource %>

        <div class="row"  style='margin: 10px 0;'>
          <div class = 'col-lg-2'>
            <%= f.label :first_name %>
          </div>
          <div class = 'col-lg-3'>
            <%= f.text_field :first_name, autofocus: true %>
          </div>
        </div>

        <div class="row"  style='margin: 10px 0;'>
          <div class = 'col-lg-2'>
            <%= f.label :last_name %>
          </div>
          <div class = 'col-lg-3'>
            <%= f.text_field :last_name, autofocus: true %>
          </div>
        </div>

        <div class="row"  style='margin: 10px 0;'>
          <div class = 'col-lg-2'>
            <%= f.label :job_title %>
          </div>
          <div class = 'col-lg-3'>
            <%= f.select :job_title, options_for_select(['store_manager', 'store_member'])%>
          </div>
        </div>
       
        <div class="row"  style='margin: 10px 0;'>
          <div class = 'col-lg-2'>
            <%= f.label :job_type %>
          </div>
          <div class = 'col-lg-3'>
            <%= f.select :job_type, options_for_select(['full_time', 'part_time'])%>
          </div>
        </div>

        <div class="row"  style='margin: 10px 0;'>
          <div class = 'col-lg-2'>
            <%= f.label :email %>
          </div>
          <div class = 'col-lg-3'>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
        </div>

        <div class="row"  style='margin: 10px 0;'>
          <div class = 'col-lg-2'>
            <%= f.label :contact_number %>
          </div>
          <div class = 'col-lg-3'>
            <%= f.text_field :contact_number, autofocus: true %>
          </div>
        </div>

        <div class="row"  style='margin: 10px 0;'>
          <div class = 'col-lg-2'>
            <%= f.label :password %>
          </div>
          <div class = 'col-lg-3'>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </div>

        <div class="row"  style='margin: 10px 0;'>
          <div class = 'col-lg-2'>
            <%= f.label :password_confirmation %>
          </div>
          <div class = 'col-lg-3'>
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>

        <br/><hr/><br/><h5>Address: </h5><br/>
        <%= f.fields_for :address do |address_form| %>
          <%= render 'shared/address_form', address_form: address_form %>
        <% end %>

        <div class="actions">
          <%= f.submit "Sign up" %> &nbsp;
          <%= render "staff_members/custom_devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
