<div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:price)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.text_field(:price, required: true)%>
        </div>
    </div>
    <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-3'>
            <%= f.label(:state)%>
        </div>
        <div class = 'col-lg-9'>
            <%= f.select(:state, options_for_select(state_options)) %>
        </div>
    </div>
        <div class = 'row' style = 'margin-bottom: 5px;'>
        <div class = 'col-lg-12' style = 'text-align: center'>
            <%= f.submit('Submit', class: 'btn btn-primary')%>
            <%= link_to('Cancel', staff_members_product_prices_path(product.id), class: 'btn btn-secondary')%>
        </div>
    </div>
</div>