<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h5>Add Price</h5><br />
            <%= form_with(model: @price, url: staff_members_product_prices_path, method: :post, local: true) do|f| %>
                <%= render 'form', f: f, state_options: AppConstants::STATES, product: @product %>
            <% end %>
        </div>
    </div>
</div>