<div class="container">
    <div class = 'row'>
        <div class = 'col-lg-12'>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Order Number</th>
                        <th scope="col">Amount</th>
                    </tr>
                </thead>
                <tbody>
                <% @orders.each do |order|%>
                    <tr>
                        <td scope="row">
                            <%= order.id%>
                        </td>
                        <td>
                            <%= order.order_number %>
                        </td>
                        <td>
                            <%= order.amount %>$
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>