<div class="container">
<div class="row">
    <div class="col-lg-8">
        <%= render 'shared/checkout/products_listing', cart: @cart %>
    </div>
    <div class="col-lg-4">
        <div class="card h-100">
            <div class="card-body">
                <h4 class="card-title">
                    <center> Summary </center>
                </h4>
                <%= render 'shared/checkout/products_summary', cart: @cart %>
                <div class = 'row' style = 'margin: 40px 0px;'>
                    <div class = 'col-lg-12'>
                        <%= form_with(url: checkout_path, local: true, method: 'get') do%>
                            <center> <%= submit_tag('Checkout') %></center>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
