<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-8">
        <h2>Sign up</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field" style = 'margin-bottom: 15px;'>
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
          </div>

          <div class="field" style = 'margin-bottom: 15px;'>
            <%= f.label :last_name %><br />
            <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
          </div>

          <div class="field" style = 'margin-bottom: 15px;'>
            <%= f.label :contact_number %><br />
            <%= f.text_field :contact_number, autofocus: true, autocomplete: "contact_number" %>
          </div>

          <div class="field" style = 'margin-bottom: 15px;'>
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="field" style = 'margin-bottom: 15px;'>
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>

          <div class="field" style = 'margin-bottom: 15px;'>
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>

          <div class="actions" style='margin: 11px;'>
            <%= f.submit "Sign up" %>
            <%= render "devise/shared/links" %>
          </div>
        <% end %>
    </div>
  </div>
</div>