<p class="card-text">
    <% total = 0 %>
    <% cart.order_products.each do |order_product|%>
        <div class = 'row'>
            <div class = 'col-lg-9'>
                <%= order_product.product.product_name%>:
            </div>
            <div class = 'col-lg-3'>
                <% price = OrderProduct.price_for_cart_shipping_state(order_product.product, cart.cart_shipping_state).price %>
                <% total +=  order_product.quantity * price %>
                $<%= order_product.quantity * price %>
            </div>
        </div>
    <% end %>
</p>
<div class = 'row'>
    <div class = 'col-lg-9'>
        <b>Total:</b>
    </div>
    <div class = 'col-lg-3'>
        $<%= total %>
    </div>
</div>