<% cart.order_products.each do |order_product|%>
    <div class="row" style = 'border-bottom: solid 2px grey'>
        <div class="col-lg-3">
            <%= order_product.product.product_name %>
            <a href="#"><img class="card-img-top" src="<%= order_product.product.product_image.url || 'http://placehold.it/700x400'%>" alt=""></a>
        </div>
        <div class="col-lg-9">               
            <div class = 'row' style='padding: 10px;'>
                <div class = 'col-lg-3'>
                    <b>Price:</b>
                </div>
                <div class= 'col-lg-9'>
                        $<%= OrderProduct.price_for_cart_shipping_state(order_product.product, cart.cart_shipping_state).price %>
                </div>
            </div>
                <%= form_with(url: carts_update_product_path, local: true, method: 'put') do%>
                    <%= hidden_field_tag(:product_id, order_product.product.id) %>
                    <div class = 'row' style='padding: 10px;'>
                    <div class = 'col-lg-3'>
                        <b>Quantity:</b>
                    </div>
                    <div class = 'col-lg-9'>
                        <%= number_field_tag(:quantity, order_product.quantity, min: 1, style: "width: 40px") %>
                        <%= submit_tag('Update') %>
                    </div>
                    </div>
                <% end %>
            <div class = 'row' style='padding: 10px;'>
                <div class = 'col-lg-3'></div>
                <div class = 'col-lg-9'>
                    <%= form_with(url: carts_delete_product_path, local: true, method: 'delete') do %>
                        <%= hidden_field_tag(:product_id, order_product.product.id) %>
                        <%= submit_tag('Delete') %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
<% end %>