<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <%= render 'shared/checkout/products_listing', cart: @cart %>
        </div>
        <div class="col-lg-4">
            <div class="card h-100">
                <div class="card-body">
                    <h4 class="card-title">
                        <center> Summary </center>
                    </h4>
                    <%= render 'shared/checkout/products_summary', cart: @cart %>
                    <div class = 'row'>
                        <div class = 'col-lg-12'>
                            <b>Shipping to: </b>
                            <div style = 'display: flex;margin: 10px;'>
                                <%= @cart.address.name%><br/>
                                <%= @cart.address.address_line1%><br/>
                                <% if @cart.address.address_line2.present? %>
                                    <%= @cart.address.address_line2%><br/>
                                <% end %>
                                <%= @cart.address.city%><br/>
                                <%= @cart.address.zipcode%><br/>
                                <%= @cart.address.state%><br/>
                                Phone: <%= @cart.address.phone_number%><br/>
                            </div>
                        </div>
                    </div>
                    <div class = 'row'>
                        <div class = 'col-lg-12'>
                            <b>Paying with: </b>
                            <div style = 'display: flex;margin: 10px;'>
                                <%= CreditCardsHelper.mask_credit_card(@cart.credit_card.card_number)%>
                            </div>
                        </div>
                    </div>
                    <div class = 'row' style = 'margin: 40px 0px;'>
                        <div class = 'col-lg-12'>
                            <%= form_with(url: orders_path, local: true, method: 'post') do%>
                                <center> <%= submit_tag('Confirm Order') %></center>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>