<div class="container">
<div class = 'row'>
    <div class = 'col-lg-8'>
        <%= form_with(url: checkout_review_path, local: true, method: 'put') do %>
            <div class="row" style="margin-bottom: 50px;">
                <div class = 'col-lg-12'>
                    <h4> Select Credit Card: </h4>
                    <% @credit_cards.each do|credit_card| %>
                        <div class = 'row'>
                            <div class = 'col-lg-12'>
                                <%= radio_button_tag('credit_card_id', credit_card.id, credit_card.id) %>
                                <%= label_tag(CreditCardsHelper.mask_credit_card(credit_card.card_number)) %>
                                <br/>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="row">
                <div class = 'col-lg-12'>
                    <h4> Select Shipping Address: </h4>
                    <% @shipping_addresses.each do|shipping_address| %>
                        <div class = 'row'>
                            <div class = 'col-lg-12'>
                                <div style = 'float: left; margin: 10px; display: flex;'>
                                    <%= radio_button_tag('address_id', shipping_address.id, shipping_address.id) %>
                                </div>
                                <div style = 'display: flex;'>
                                    <%= shipping_address.name%><br/>
                                    <%= shipping_address.address_line1%><br/>
                                    <% if shipping_address.address_line2.present? %>
                                        <%= shipping_address.address_line2%><br/>
                                    <% end %>
                                    <%= shipping_address.city%><br/>
                                    <%= shipping_address.zipcode%><br/>
                                    <%= shipping_address.state%><br/>
                                    <%= shipping_address.phone_number%><br/>
                                </div>
                                <hr/>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            <div class="row" style="margin-bottom: 50px;">
                <div class='col-lg-12' style = 'text-align: center'>
                    <%= submit_tag('Proceed') %>
                </div>
            </div>
        <% end %>
        </div>
        <div class = 'col-lg-4'>
            <%= form_with(url: credit_cards_new_path, local: true, method: "get" ) do%>
                <%= submit_tag('Add New Credit Card') %>
            <% end %>
            <br />
            <%= form_with(url: addresses_new_path, local: true, method: "get") do%>
                <%= submit_tag('Add New Shipping Address') %>
            <% end %>
        </div>
    </div>
</div>