<div class="container">
    <h5> Shipping Address: </h5><br/>
    <%= form_with model: @address, url: address_path(@address.id), method: :put, local:true do|f|%>
        <%= render 'shared/address_form', address_form: f  %>
        <div class="row" style='margin: 10px 0;'>
                <div class = 'col-lg-12' style = 'text-align: center'>
                    <%= f.submit('Submit')%>
                    <%= f.button('Cancel')%>
                </div>
        </div>
    <% end %>
</div>