<div class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Addresses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <% @addresses.each do |address|%>
            <tr>
                <td scope="row">
                    <%= address.name%><br/>
                    <%= address.address_line1%><br/>
                    <% if address.address_line2.present? %>
                        <%= address.address_line2%><br/>
                    <% end %>
                    <%= address.city%><br/>
                    <%= address.zipcode%><br/>
                    <%= address.state%><br/>
                    Phone: <%= address.phone_number%><br/>
                </td>
                <td>
                    <%= link_to('Edit', edit_address_path(address.id), method: 'get')%> &nbsp;
                     <%= link_to('Delete', address_path(address.id), method: 'delete')%>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>