<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <img class="card-img-top"  style = 'max-height: 200px;min-height: 200px;' src="<%= product.product_image.url || 'http://placehold.it/700x400'%>" alt="">
        <div class="card-body">
            <h4 class="card-title">
                <%= link_to product.product_name, product_path(product.id) %>
            </h4>
            <h5><%= price %>$</h5>
            <p class="card-text"><%= product.product_description[0..50] %></p>
            <div style = 'text-align: center;'>
                 <%= submit_tag("Add", onclick: "return updateProductId(#{product.id})", disabled: disabled) %>
            </div>
        </div>
    </div>
</div>