<!-- Navigation -->
<!-- Page Content -->
<div class="container">

<div class="row">

    <div class="col-lg-3">
    <h6 style = 'display: flex'>
        Shipping State: &nbsp;
        <%= form_with(url: carts_path(request.query_parameters), local:true, method: "put") do %>
            <% cart_shipping_state = @cart.present? ? @cart.cart_shipping_state : AppConstants::STATES[0] %>
            <%= select_tag 'cart_shipping_state', options_for_select(AppConstants::STATES, cart_shipping_state), onchange: 'this.form.submit();' %>
        <% end %>
    </h6>
    <div class="list-group">
    <% @categories.each do|category| %>
        <a href="<%= root_path(category_id: category.id)%>" class="list-group-item <%= @selected_category_id.to_i == category.id ? 'active' : '' %>"><%= category.category_name %></a>
    <% end %>
    </div>

    </div>
    <!-- /.col-lg-3 -->
    
    <div class="col-lg-9">
    <%= form_with(url: carts_add_product_path, local:true, method: "put") do %>
        <%= hidden_field_tag(:product_id) %>
        <%= hidden_field_tag(:category_id, params[:category_id]) %>
        <div class="row">
            <% @products.each do|product|%>
                <% cart_shipping_state = @cart.present? ? @cart.cart_shipping_state : AppConstants::STATES[0] %>
                <% price = OrderProduct.price_for_cart_shipping_state(product, cart_shipping_state) %>
                <% next if price.nil? %>
                <%  disabled = @cart.nil? ? false : @cart.products.include?(product) %>
                <%= render 'products/product_block', product: product, disabled: disabled, price: price.price %> 
            <% end %>
        </div>
    <% end %>
    </div>
</div>
</div>