<div class="container">
    <div class = 'row'>
        <div class = 'col-lg-4'>
            <div class="card h-100">
                <img class="card-img-top" src=<%= @product.product_image.url%> alt="">
            </div>
        </div>
        <div class = 'col-lg-8'>
            <b>Product Name:</b> <%= @product.product_name %><br />
            <b>Category:</b> <%= @product.category.category_name %><br />
            <b>Size:</b> <%= @product.product_size %> cubic feet<br />
            <b>Weight:</b> <%= @product.product_weight %><br /><br />
            <% if @cart.present? %>
                <%= form_with(url: carts_add_product_path, local:true, method: "put") do %>
                    <%= hidden_field_tag(:product_id, @product.id) %>
                    <%  disabled = @cart.products.include?(@product) %>
                    <%= submit_tag("Add", disabled: disabled) %>
                <% end %>
            <% end %>
        </div>
    </div>
    <hr />
    <div class = 'row'>
        <div class = 'col-lg-12'>
            <b>Description:</b><br />
            <%= @product.product_description %>
        </div>
    </div>
    <hr />
    <div class = 'row'>
        <div class = 'col-lg-12'>
            <b>Additional Information:</b><br />
            <ul>
                <% JSON.parse(@product.additional_info).each do|attr_name, value| %>
                    <li><b><%= attr_name%></b> : <%= value %></li>
                <% end %>
            </ul>
        </div>
    </div>
</div>