<!DOCTYPE html>
<html>
  <head>
    <title>Onlinegrocerystore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br />
    <p class="notice" style = 'color: green;'><%= notice %></p>
    <p class="alert" style = 'color: red;'><%= alert %></p>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
          <a class="navbar-brand" href=<%= root_path %>><h3>Online Grocery Store</h3></a> 
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
