<!DOCTYPE html>
<html>
  <head>
    <title>Onlinegrocerystore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br />
    <p class="notice" style = 'color: springgreen;'><%= notice %></p>
    <p class="alert" style = 'color: red;'><%= alert %></p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href=<%= root_path %>><h3>Online Grocery Store</h3></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <% if !customer_signed_in? %>
                        <li class="nav-item active">
                        <a class="nav-link" href= <%= new_customer_session_path %> %>login
                        </a>
                        </li>
                    <% else %>
                        <li class="nav-item active">
                            <%= link_to('Sign out', destroy_customer_session_path, method: :delete, class: 'nav-link') %>
                        </a>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
