<!DOCTYPE html>
<html>
  <head>
    <title>Onlinegrocerystore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br />
    <p class="notice" style = 'color: green;'><%= notice %></p>
    <p class="alert" style = 'color: red;'><%= alert %></p>
    <%= javascript_pack_tag 'products' %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href=<%= root_path %>><h3>Online Grocery Store</h3></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div style = 'margin-left: 80px'> 
          <% if @search_disabled.nil? %> 
            <%= form_with(url: search_products_path, local:true, method: "get") do %>
                <%= hidden_field_tag(:category_id, params[:category_id]) %>
                <%= label_tag(:q, "Search for:", style: 'color: white; font-size: 20px;') %>
                <%= text_field_tag(:q, '', size: 25) %>
                <%= submit_tag("Search") %>
            <% end %>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
            <% if !customer_signed_in? %>
                <li class="nav-item active">
                    <a class="nav-link" href= <%= new_customer_session_path %> %>login
                    </a>
                </li>
            <% else %>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    Account
                    <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <%= link_to('My Orders', orders_path, style: 'color: black;margin: 8px;') %><br/>
                        <%= link_to('Credit Cards', credit_cards_path, style: 'color: black;margin: 8px;') %><br/>
                        <%= link_to('Addresses', addresses_path, style: 'color: black;margin: 8px;') %>
                    </ul>
                </li>
                <li class="nav-item active">
                    <%= link_to('Sign out', destroy_customer_session_path, method: :delete, class: 'nav-link') %>
                </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href= <%= carts_products_path %> %>
                        <i class="fas fa-shopping-cart" style='color: white'></i>(<%= @cart.present? ? @cart.products.count : 0 %>)
                    </a>
                </li>


            <% end %>
        </ul>
        </div>
      
    </div>
    </nav>

    <%= yield %>
  </body>
</html>
