<!DOCTYPE html>
<html>
  <head>
    <title>Staff Portal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <br />
    <p class="notice" style = 'color: springgreen;'><%= notice %></p>
    <p class="alert" style = 'color: red;'><%= alert %></p>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href=<%= staff_members_root_path %>>Staff Portal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <%= link_to('Sign out', destroy_staff_member_session_path, method: :delete, class: 'nav-link') %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <%= yield %>
  </body>
</html>
